<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
    <main>
        <header class="base">
            <div>
                <h2>Diseño <span>Multimedia</span></h2>

                <nav>
                    <a href="../index.html">INICIO</a>
                    <a href="../templates/nosotros.html">NOSOTROS</a>
                    <a href="../templates/servicios.html">SERVICIOS</a>
                    <a href="../templates/contacto.html">CONTACTO</a>
                </nav>
            </div>
            <div id="heda">
                <h3>Subscríbete a nuestro boletín</h3>
                <div id="sub">
                    <input type="email" placeholder="Ingrese el Email...">
                    <a id="mol" href="#">Subscríbete</a>
                </div>
            </div>
        </header>

        <section class="texti">
            <div class="modo">
                <div class="parte">
                    <h3 class="titu">Nosotros</h3>
                    <p class="tex">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum, ipsum? Optio quam
                        doloremque quo repellat ullam repellendus, numquam impedit commodi eveniet velit animi
                        recusandae
                        nisi, quidem veritatis ab incidunt repudiandae, Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Error necessitatibus doloremque, exercitationem amet corrupti quisquam vitae
                        minus totam sequi asperiores ea esse recusandae rem! Fugit voluptate recusandae sit iste nemo.
                    </p>

                    <p class="text">Aliquam eget pharetra diam. Nulla placerat lorem at turpis tempor, vel ultrices dui
                        tincidunt. Proin
                        quis egestas lorem. Mauris vehicula lectus odio, sit amet dictum justo feugiat a. Praesent id
                        dictum
                        lacus. Sed ullamcorper id erat ut dictum. Fusce porttitor lorem sapien, in aliquet sapien
                        convallis
                        et.
                        Donec nec mauris nulla. Curabitur cursus semper odio, et hendrerit ante. Nunc at cursus ante.
                        Maecenas gravida ligula ut efficitur suscipit. Nulla id turpis varius, pretium nunc sed,
                        fermentum
                        sem.
                        Sed lacinia nunc non interdum pellentesque.</p>

                    <img class="imagen" src="../assets/images/891.jpg" alt="teclado">
                </div>

                <aside class="part">
                    <h3>Que hacemos</h3>
                    <p id="parra">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus voluptatem
                        autem
                        eum consequatur dolore animi soluta dolores saepe ad nesciunt eaque vero cupiditate consequuntur
                        placeat commodi veniam, laboriosam maiores delectus!</p>
                </aside>
            </div>
        </section>

        <footer>
            <small>Graphel Desarrollo Web, Copyright © 2017</small>
        </footer>
    </main>
</body>

</html>